.quickstarts-catalog__gallery {
  margin-top: var(--pf-v6-global--spacer--md);
}

.quickstarts-catalog__badge {
  display: inline-block;
  padding: var(--pf-v6-global--spacer--xs) var(--pf-v6-global--spacer--sm);
  margin-right: var(--pf-v6-global--spacer--xs);
  background-color: var(--pf-v6-global--palette--blue-50);
  color: var(--pf-v6-global--palette--blue-600);
  border-radius: var(--pf-v6-global--BorderRadius--sm);
  font-size: var(--pf-v6-global--FontSize--xs);
  font-weight: var(--pf-v6-global--FontWeight--semi-bold);
}
